table {
    border-collapse: collapse;

    caption {
        font-size: 1.05rem;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: left;
    }

    thead {
        color: #808080;
        border-bottom: 2px solid #808080;

        th {
            font-size: 16px;
            font-weight: bold;
            padding: 5px 10px 5px 10px;
        }
    }

    tbody {
        background-color: #ffffff;
        margin-top: 2px;

        td {
            padding: 10px 10px 10px 10px;
        }
    }

    tfoot {
        background-color: #ffffff;
    }
}
